@use "../base/vars" as *;

div.bartenders-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.bartenders-component {
  display: flex;
  justify-content: center;
  h1 {
    font-family: "Dela-Gothic-One-Regular", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
  }

  p {
    font-family: "Courier-Prime-Regular";
    font-size: 1rem;
    padding: 0.15rem;
  }
  .border {
    border: solid 1px #011626;
    height: 0;
    width: 220px;
    margin: 0;
    padding: 0;
  }
}
.working {
  color: $green !important;
}
.ready {
  color: $orange !important;
}
.serving {
  color: $red !important;
}

.bartenders-component > div {
  display: grid;
  grid-template-rows: 1fr 0fr 1fr 0fr 1fr 0fr 1fr 0fr 1fr 0fr;
  justify-items: center;
  background-color: $light-grey;
  min-width: 220px;
  margin-left: 20px;
  padding-top: 1rem;
}

.bartenders-headings {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 10px 0;
  padding: 65.5px 0 10px 0;
}

.bartenders {
  margin: 1.5rem;
  border-top: solid 2px #011626;
  h2 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 0;
    border-bottom: solid 2px #011626;
    padding: 1rem;
  }
  h2:first-child {
    border-top: solid 2px #011626;
  }
}

div.bartenders > h1:first-child {
  font-family: "Courier-Prime-Regular";
  font-size: 1.5rem;
}

.bartender-icon-container {
  .bartender-icon {
    background-image: url(../../img/bartender.svg);
    width: 3rem;
    height: 3rem;
    background-size: cover;
  }
}

@media only screen and (max-width: 500px) {
  .bartenders {
    border-top: none;
    h2 {
      font-size: 0.75rem;
      padding: 0.3rem;
      text-align: center;
      border-top: solid 2px #011626;
    }
    h1:first-child {
      text-align: center;
    }
  }

  div.bartenders > h1:first-child {
    font-size: 1rem;
  }

  .bartenders-headings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    grid-template-rows: none;
  }

  div.bartenders-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .bartenders-component > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: #f3f3f3;
    min-height: 65px;
    margin: 0.3rem 0;
    padding-top: 0;
    grid-template-rows: none;
  }

  .bartenders-component {
    display: flex;
    flex-direction: column;
    p {
      font-size: 0.75rem;
      text-align: center;
      align-self: center;
      margin: 0.6rem;
      padding: 0;
    }
  }

  .bartender-icon-container {
    display: none;
  }

  .border {
    display: none;
  }
}
