@use "../base/vars" as *;

.inventory-container {
  display: flex;
  margin: 1.5rem;
  border-top: solid 2px #011626;

  h1 {
    font-family: "Courier-Prime-Regular";
    font-size: 1.5rem;
  }

  th {
    font-family: "Courier-Prime-Regular";
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0rem 2rem;
  }

  td {
    font-family: "Courier-Prime-Regular";
    font-size: 0.9rem;
    display: flex;
    padding: 0.5rem 0;
    align-self: center;
  }
}

div.tapsstatus-content:first-child {
  align-self: flex-start;
  padding: 0;
}

.tapssituation {
  border-right: solid 2px #011626;
  padding-right: 1.5rem;
}

.tapstatus-heading {
  border-top: solid 2px #011626;
  border-bottom: solid 2px #011626;
  margin-bottom: 0.5rem;
  justify-content: center;
  tr {
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.tapsstatus-content {
  background-color: $light-grey;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  margin-bottom: 0.5rem;
  td {
    justify-content: center;
  }
}

.storagesituation {
  padding-left: 1.5rem;
}

.storagestatus-content {
  background-color: $light-grey;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0.4rem;
  td {
    justify-content: center;
  }
}

.amount-circle {
  border-radius: 50%;
  border: solid 2px #011626;
  width: 1.8rem;
  height: 1.8rem;
  z-index: 100;
  margin-left: 1rem;
  margin-right: 1rem;

  td {
    padding: 0.5rem;
  }
}

.storagesituation {
  .storagestatus-heading {
    border-top: solid 2px #011626;
    border-bottom: solid 2px #011626;
    margin-bottom: 0.5rem;
    tr {
      padding-left: 2rem;
    }
  }
}

.capacity {
  height: 1.8rem;
  width: 9rem;
  border: solid 2px black;
  font-size: 0.7rem;
  align-items: center;
}
.capacity > .lowstock {
  height: 100%;
  width: 23%;
  background-color: $red;
}

.capacity > .mediumlowstock {
  height: 100%;
  width: 33%;
  background-color: $orange;
}

.capacity > .mediumhighstock {
  height: 100%;
  width: 66%;
  background-color: lightgreen;
}
.capacity > .highstock {
  height: 100%;
  width: 100%;
  background-color: $green;
}

.storagestatus tr.lowstock .amount-circle {
  background-color: $red;
}

.storagestatus tr.mediumlowstock .amount-circle {
  background-color: $orange;
}

.storagestatus tr.mediumhighstock .amount-circle {
  background-color: lightgreen;
}

.storagestatus tr.highstock .amount-circle {
  background-color: $green;
}

@media only screen and (max-width: 500px) {
  table {
    margin-top: 1rem;
  }

  .inventory-container {
    flex-direction: column;
    border-top: none;
    h1 {
      font-size: 1rem;
      text-align: center;
      margin-top: 0;
    }

    th {
      margin: 0;
      font-size: 0.75rem;
      padding: 0.3rem 0.5rem;
      text-align: center;
    }

    td {
      font-size: 0.75rem;
    }
  }

  .tapssituation {
    border-right: none;
    padding-right: 0;
  }

  .tapstatus-heading tr {
    padding: 0;
  }

  .tapsstatus-content td {
    padding: 0.5rem 0.6rem;
    text-align: center;
    font-size: 0.75rem;
    .capacity {
      height: 0.8rem;
      width: 3rem;
    }
  }

  .storagesituation {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5rem;
    padding-left: 0;
  }

  .storagestatus-heading {
    display: flex;
    justify-content: space-around;
    th {
      padding: 0.3rem 1.5rem;
    }
  }

  .storagestatus-content {
    padding: 0.3rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    justify-items: center;
  }

  .storagestatus-content td:first-child {
    justify-self: flex-start;
  }

  .amount-circle {
    margin-left: 0;
    margin-right: 0;
    width: 1.6rem;
    height: 1.6rem;
    justify-self: flex-start;
    td {
      justify-content: center;
    }
  }
}
